{
    "plugins": [
      [
        "module-resolver",
        {
        "root": "./",
          "alias": {
            "@screens": "./src/scenes",
            "@styles": "./src/styles",
            "@components": "./src/components",
            "@assets": "./src/assets",
          }
        }
      ]
    ],
  }